
	
<div class="container animated slideInDown">
	 
	 <h2 align="center"  class="heading"><i>{{channel_id}}</i></h2>
	
	<ol class="list-group ">
		<li class="list-group-item" ng-repeat="message in messages">
			<div align="center">
				<p><strong><i style="color:red">{{message.sender}}</i></strong></p>
				<p>{{message.text}} </p>
				
			</div>
			<button ng-click="messages.$remove(message)" class="btn btn-default ">Delete Message</button>
		</li>
	</ol>
	
	<!-- <input style="margin-bottom:10px" placeholder="Sender" class="form-control" ng-model="userName"  /> -->
	<textarea style="margin-bottom:10px" placeholder="Message here" rows="2" class="form-control" ng-model="newMessage"></textarea>
	<button type="button" class="btn btn-default" ng-click="sendMessage()" style="width:150px">Send</button>
	
</div>