
<!DOCTYPE html>
<html>
  <head></head>
  <link rel="stylesheet" href="index.css">
  <body ng-app="groceryListApp">
	<div class="head"> <h1>Welcome to my Grocery Store<h1></div>
    <div  class="myDiv" ng-controller="GroceryListCtrl">
	     <p>
			<input class="curvers" ng-model="item_name" placeholder="item name" type="text"  >
			<input class="curvers" ng-model="item_quantity" placeholder="item quantity" type="number" min="1" >
		</p>
		<input  class="curvers" ng-model="search_box" placeholder="search item">
		<button  class="curvers" ng-disabled="is_numeric(item_name)" ng-click="add_item()"> Add Item </button>
		<button  class="curvers" ng-click="empty_cart()"> Empty Cart </button>
		
		<ol>
			<li ng-repeat="item in grocery_List | filter:search_box">
				<p>
					{{item.item_Name+" : "+ item.item_Quantity +"  "}}  
					<button class="curvers" ng-click="increaseItemCount(item)">+</button>  
					<button class="curvers" ng-click="decreaseItemCount(item)">-</button> 
					<button class="curvers" ng-click="delete_item($index)">delete</button>
					<button class="curvers" ng-click="item.isEditing = true">edit</button>
				</p>
				
				<div ng-show="item.isEditing">
					<input ng-model="item.item_Name">
					<button class="btn" ng-click="item.isEditing = false">done</button>
				</div>
		  
			</li>
		</ol>
	</div>
	
    <script src="angular.js"></script>
    <script src="grocerylist.js"></script>
  </body>
</html>